
<div class="header clearfix">
  <a class="navbar-brand" href="#">Cyril RAT</a>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/home"  href="#">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" (click)="toggleHeader(false)" href="#">Contact</a>
      </li>
    </ul>
  </div>
  </nav>
</div>
<app-header  [hidden]="headerComponent.hide"></app-header>

<div class="grid grid-pad" >
  <a *ngFor="let categorie of categories"  (click)="onSelect(categorie)"
      [class.selected]="categorie === selectedCategorie" class="col-1-4">
    <div class="module categorie">
      <h4>{{categorie.name}}</h4>
    </div>
  </a>
</div>

<div *ngIf="selectedCategorie">
  <div *ngIf="selectedCategorie.id == 1">
    <app-experience></app-experience>
  </div>

  <div *ngIf="selectedCategorie.id == 2">
    <h1>Salut</h1>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
