/* You can add global styles to this file, and also import other style files */
body{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header{
  padding-bottom: 1rem;
}
a{
  text-decoration: none;
  color: #607D8B;
}
a:link{
  text-decoration: none;
  color: #607D8B;
}
a:hover {
  text-decoration: none;
  color: #607D8B;
  font-weight: bold;
}
a:visited {
  text-decoration: none;
  color: #607D8B;
  font-weight: bold;
}
a:active {
  text-decoration: none;
  color: #607D8B;
  font-weight: bold;
}
.card-header {
  color:#607D8B;
}
